In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [2]:
train_set = pd.read_csv('../input/titanic/train.csv')
test_set = pd.read_csv('../input/titanic/test.csv')
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
#drop columns not usepassanger_id = data_test['PassengerId']
train_set = train_set.drop(['PassengerId', 'Ticket','Name','Cabin'], axis=1)
test_set = test_set.drop(['PassengerId', 'Ticket','Name','Cabin'], axis=1)
train_set.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [5]:
#Converting data
train_set['Sex'] = train_set['Sex'].map({'male': 1, 'female': 0})
test_set['Sex'] = test_set['Sex'].map({'male': 1, 'female': 0})
train_set['Embarked'] = train_set['Embarked'].map({'C': 0, 'Q': 1,'S':2})
test_set['Embarked'] = test_set['Embarked'].map({'C': 0, 'Q': 1,'S':2})
train_set.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500       2.0
1         1       1    0  38.0      1      0  71.2833       0.0
2         1       3    0  26.0      0      0   7.9250       2.0
3         1       1    0  35.0      1      0  53.1000       2.0
4         0       3    1  35.0      0      0   8.0500       2.0

In [6]:
#Cleaning data
from sklearn.impute import SimpleImputer

imputer_1 = SimpleImputer(missing_values=np.nan, strategy='mean')
train_set['Age'] = imputer_1.fit_transform(train_set[['Age']])
test_set['Age'] = imputer_1.fit_transform(test_set[['Age']])
train_set['Fare'] = imputer_1.fit_transform(train_set[['Fare']])
test_set['Fare'] = imputer_1.fit_transform(test_set[['Fare']])

imputer_2 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
train_set['Embarked'] = imputer_2.fit_transform(train_set[['Embarked']])
test_set['Embarked'] = imputer_2.fit_transform(test_set[['Embarked']])

train_set.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500       2.0
1         1       1    0  38.0      1      0  71.2833       0.0
2         1       3    0  26.0      0      0   7.9250       2.0
3         1       1    0  35.0      1      0  53.1000       2.0
4         0       3    1  35.0      0      0   8.0500       2.0

In [7]:
#Check missing data again
train_set.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [8]:
test_set.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [9]:
#Declare

x = train_set.iloc[:, 1:].values
y = train_set.iloc[:, 0].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0 )

In [11]:
#Train model with Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

model = LogisticRegression(random_state=0).fit(x_train, y_train)
train_predict = model.predict(x_train)
test_predict = model.predict(x_test)

train_score = accuracy_score(y_train, train_predict)
test_score = accuracy_score(y_test, test_predict)
matrix = confusion_matrix(y_test, test_predict)

print(matrix)
print('Train accuracy is',train_score )
print('Test accuracy is',test_score )

[[140  28]
 [ 28  72]]
Train accuracy is 0.8073836276083467
Test accuracy is 0.7910447761194029

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [12]:
#Apply with test data
y_pred = model.predict(test_set.iloc[:, 0:].values)
data_for_sub = pd.read_csv('../input/titanic/test.csv')
submission = pd.DataFrame({'PassengerId': data_for_sub['PassengerId'], 'Survived': y_pred})
submission.to_csv('submission.csv',index=False)